@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #36393f;
  color: aliceblue;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
